<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">

        <link href="/static/style.css" rel="stylesheet">

        <title>Flask Chat App</title>
    </head>

    <body>
        <div class="widget">
            <div class="group_title">
                <div><b>Group Members</b></div>
            </div>

            <div class="member_list" id="member_list">
                {% for i in user_list %}
                <div>
                    <div class="member">
                        {% if i == "admin" %}
                        <img class="member_picture" src="/static/admin.png" alt="">
                        {% else %}
                        <img class="member_picture" src="/static/profile.png" alt="">
                        {% endif %}

                        <div class="member_name">
                            <div>{{ i }}</div>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>

            <div class="role_description" id="role_description">
            </div>

            <form class="input_for_message" id="message_input_form">
                <label>
                    <input class="message_input" type="text" id="message_input" placeholder="Enter message here...">
                </label>
            </form>
        </div>

        <div class="messages" id="messages">
        </div>
    </body>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>

    <script>
        // Socket connection.
        const socket = io.connect("http://127.0.0.1:5000");

        let own_name = ""

        // Socket connection code.
        socket.on('connect', function() {
            // When new user is connected, create a join_room message.
            socket.emit('join_room', {
                username: "{{ username }}",
                room: "{{ room }}"
            })

            // Set global username to this.
            own_name = "{{ username }}"

            // Handles user typing in a message in the html ínput field.
            let message_input = document.getElementById('message_input');
            
            // Handles what happens when user submits message.
            document.getElementById('message_input_form').onsubmit = function (e) {
                e.preventDefault();
                let message = message_input.value.trim();
                if (message.length) {
                    socket.emit('send_message', {
                        username: "{{ username }}",
                        room: "{{ room }}",
                        message: message
                    })
                }
                message_input.value = '';
                message_input.focus();
            }

        })

        // Creates a new message if one is recieved.
        socket.on('receive_message', function (data) {
            console.log(data);

            // Creates a div for name and for message.
            const message_div = document.createElement('div')

            if (data.username == own_name) {
                message_div.innerHTML = `<div class="own_message"><div><b>${data.username}</b></div><div>${data.message}</div></div>`;
            } else {
                message_div.innerHTML = `<div class="other_message"><div><b>${data.username}</b></div><div>${data.message}</div></div>`;
            }

            // Appends them to the message div in the HTML document.
            document.getElementById('messages').appendChild(message_div);
        })

        // Creates a join announcement.
        socket.on('join_room_announcement', function(data) {
            // Logs the incomming data in the console.
            console.log(data);

            // Only do join announcement when person is not a spectator.
            if (data.username == "spectator") {
                // Do nothing
            } else {
                // Creates divs to add to html page.
                const announcement = document.createElement('div')
                const new_user = document.createElement('div')
                const new_user_description = document.createElement('div')
                
                // Defines html code for element.
                announcement.innerHTML = `<div class="join_announcement"><b>${data.username}</b> has joined the room</div>`
                
                // Determines profile picture based on the username.
                if (data.username == "admin") {
                    new_user.innerHTML = `<div class="member"><img class="member_picture" src="/static/admin.png" alt=""><div class="member_name"><div>${data.username}</div></div></div>`
                } else {
                    new_user.innerHTML = `<div class="member"><img class="member_picture" src="/static/profile.png" alt=""><div class="member_name"><div>${data.username}</div></div></div>`
                }

                // Determines if name has a role and add role description.
                if (data.username == "admin") {
                    new_user_description.innerHTML = `<div><b>${data.username}</b></div><div>This is the Admin. The Admin controls everything.</div>`
                }
                
                // Appends new element to the div tag with the all_users ID.
                document.getElementById('messages').appendChild(announcement);
                document.getElementById('member_list').appendChild(new_user);
                document.getElementById('role_description').appendChild(new_user_description);
            }
        })

        // Scrolls down the page automatically when new content builds up.
        function pageScroll() {
            window.scrollBy(0, 1);
            scrolldelay = setTimeout(pageScroll, 10);
        }
    </script>
</html>